<mat-card class="mat-elevation-z8">
  <mat-card-header>
    <div mat-card-avatar class="header-image" [style.background-image]="'url(' + app.iconUrl + ')'"></div>
    <mat-card-title>{{app.name}}</mat-card-title>
    <mat-card-subtitle>{{app.subtitle}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{app.imageUrl}}" alt="Application Image">
  <mat-card-actions>
    <a color="accent" fxLayoutAlign="center center" mat-flat-button target="_blank" href="{{app.linkUrl}}">OPEN</a>
  </mat-card-actions>
</mat-card>
