
mat-toolbar .mat-toolbar-row {
  height: 128px;
}

.logo {
  padding-top: 10px;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  text-transform: uppercase;
}

@mixin toolbar-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  mat-toolbar {
    //background-color: mat-color($primary, 50) !important;
  }
}
