<div id="toolbar">
  <div class="toolbar-row" fxLayout="row" fxLayout.lt-md="column">
    <div fxLayout fxFlex="33" fxLayoutAlign.lt-md="center center">
      <img class="logo" src="assets/DE4L-logo.png" height="100"/>
    </div>
    <div fxLayoutAlign="center center" fxFlex="33" fxLayoutAlign.lt-md="center center">
      <h1>Platform Hub</h1>
    </div>
    <div fxLayoutAlign="end center" fxFlex fxLayoutAlign.lt-md="center center">
      <div *ngIf="!isLoggedIn$.getValue()">
        <button mat-flat-button color="primary" (click)="onLoginClick($event)">LOGIN</button>
      </div>
      <div *ngIf="isLoggedIn$.getValue() && user">
        <button mat-flat-button color="primary" [matMenuTriggerFor]="toolbarMenu">
          {{user.name}} <{{user.username}}>
          <mat-icon>expand_more</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<mat-menu #toolbarMenu="matMenu">
  <a [href]="getKcAccountUrl()" target="_blank" mat-menu-item>
    <mat-icon>account_circle</mat-icon>
    Account Settings
  </a>
  <button mat-menu-item (click)="onLogoutClicked($event)">
    <mat-icon>power_settings_new</mat-icon>
    Logout
  </button>
  <button mat-menu-item (click)="onJWTTokenInfoClicked($event)">
    <mat-icon>adb</mat-icon>
    <i>JWT Token Info</i></button>
</mat-menu>
