@import '~@angular/material/theming';

de4l-app-item {
  max-width: 400px;
}

de4l-app-list {
  background-color: red;
}

@mixin app-list-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  de4l-app-list {
    background-color: mat-color($primary, 50) !important;
  }
}
